#actualForecast{
  padding: 100px 20px;

  .actualForecast_wrap{
    color: white;
    text-align: center;

    .actualForecast_icon{
      font-size: 80px;
    }
    .actualForecast_temp{
      font-size: 80px;
    }
    .actualForecast_tempExtreme{
      font-size: 20px;
      opacity: 0.8;
    }
    .actualForecast_condition{
      font-size: 25px;
      margin-top: 10px;
      font-weight: bold;
    }

    .actualForecast_more{
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      .actualForecast_more_item_wrap {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;

        margin: 10px;
        .actualForecast_more_icon {
          margin-right: 10px;

          text-align: center;
          font-size: 22px;
        }
        .actualForecast_more_item {
          text-align: left;
          display: inline-block;

          span {
            display: block;
            white-space: nowrap;

            &.actualForecast_more_item_info {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.bg-sun{ background: $gradient-sun};
.bg-cloud{ background: $gradient-cloud};
.bg-rain{ background: $gradient-rain};
.bg-snow{ background: $gradient-snow};
.bg-storm{ background: $gradient-storm};
.bg-night{ background: $gradient-night};